
body{
    margin: 0px;
    background-color: gainsboro;
}
.parentHeader{
    background-color: brown;
    width: 100%;
    top: 0px;
    /* left: 0; */
    height: 100px;
    /* margin: 0 auto; */
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}
.cartname{
    display: inline;
    font-size: 25px;
    color: white;
}
.cartParent{
    margin-top: 30px;
    background-color: red;
    height: fit-content;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
.headername{
    color: white;
 
}
.cartbtn{
    border-radius: 100px;
    border: 1px solid white;
    background-color: red;
    color: white;
    font-size: 25px;
}

.res-summary{
    height: 250px;
    width: 700px;
    background-color: grey;
    border-radius: 10px;
    margin-left: 370px;
    
}
.res-summary-heading{
    color: white;
    text-align: center;
    padding: 10px;
}
.meallist{
    background-color: #f0f0f0;
    width:50%;
    margin-left: 340px;
    padding: 10px;
    padding: 5px;
    margin-top: 10px;
   

    

}
.meallistparent{
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 10px;
   
}
.mlist{
    margin: 0px;
}