
body{
    margin: 0px;
    background-color: gainsboro;
}
.parentHeader{
    background-color: brown;
    width: 100%;
    top: 0px;
    /* left: 0; */
    height: 100px;
    /* margin: 0 auto; */
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}
.cartname{
    display: inline;
    font-size: 25px;
    color: white;
}
.cartParent{
    margin-top: 30px;
    background-color: red;
    height: fit-content;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
.headername{
    color: white;
 
}
.cartbtn{
    border-radius: 100px;
    border: 1px solid white;
    background-color: red;
    color: white;
    font-size: 25px;
}

.res-summary{
    height: 250px;
    width: 700px;
    background-color: grey;
    border-radius: 10px;
    margin-left: 370px;
    
}
.res-summary-heading{
    color: white;
    text-align: center;
    padding: 10px;
}
.meallist{
    background-color: #f0f0f0;
    width:50%;
    margin-left: 340px;
    padding: 10px;
    padding: 5px;
    margin-top: 10px;
   

    

}
.meallistparent{
    
    margin: 0px;
    padding: 10px;
   
}
.mlist{
    margin: 0px;
}
.amountcounter{
    display: flex;
}
.mealsP{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.counterBtn{
    border-radius: 2px;
    height: 20px;
    width: 40px;
    border: 1px solid gray;
    margin-top: 25px;

}
.addBtn{
    background-color: brown;
    color: white;
    border: none;
    width: 100px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;

}
.amounttag{
    margin-bottom: 0px;
}


/* .... */


.modelparent{
    position: fixed;
    /* display: flex; */
    width: 600px;
    background-color: white;
    /* justify-content: space-between; */
    margin-left: 425px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    
}
.amount{
    display: flex;
    justify-content: space-between;
}
.orderBtn{
    display: flex;
    justify-content: end;
    margin: 10px;
    
}
.cbtn{
    width: 100px;
    height: 40px;
    margin: 5px;
    background-color: white;
    border: 1px solid brown;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
}
.cbtn:hover{
    background-color: red;
    color: white;
    border: 1px solid white;
}
.obtn:hover{
    background-color: rgb(49, 239, 49);
    border: 1px solid white;
}
.obtn{
    width: 100px;
    height: 40px;
    margin: 5px;
    background-color: brown;
    color: white;
    border: 1px solid brown;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
   
}
.amountvalue{
    margin-right: 10px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.amounttext{
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cuisinelist{
    margin-left: 10px;
}
.modelWrapper{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgb(218, 218, 218); */
    background-color: black;
    opacity: 0.6;
}